<style>
img {
    display: block;
    margin: auto;
}
</style>
<div class="body">
{{#unless isP}}
	<div class="center">

		<br><button type="button" class="btn-primary" {{action 'Press'}}>Record Catch!</button>
	</div>
{{else}}
	<div class="center">
		<button  class="btn-primary" {{action 'takeAPicture'}}>Take a Picture</button>
		<br>
		<h4>My Picture</h4><br>
	</div>
	<img src={{imgSrc}} height="300" width="300" /><br>
{{!-- 		<button type="button" class="btn-info" {{action 'next'}}>next</button>
 --}}
	<div class="center">
		{{#unless showMap}}
			<br><button type="button" class="btn-primary" {{action 'getLocation'}}>Show Location</button>
		{{else}}
			<br><iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBcSDSoNxXlc6RrfoqjwuzTKnOl4zxVOFo&center={{lat}},{{lng}}&zoom=20&maptype=satellite"></iframe>
			{{!-- {{g-maps name="my-map" lat=lat lng=lng zoom=zoom}} --}}
			<button type="button" class="btn-primary" {{action 'stopLocation'}}>Stop Location</button>
		{{/unless}}
	</div>

	<div class="center">
		{{#power-select
			selected=curBait
			options=baits
			onchange=(action "chooseBait")
			as |name|
		}}
		{{name}}
		{{/power-select}}
		<br>
		<br><button type="button" class="btn-success" {{action 'saveCatch'}}>Save!</button>
		<br><br><button type="button" class="btn-info" {{action 'unPress'}}>Restart Catch Record</button>
	</div>	
{{/unless}}
</div>

{{yield}}

