{{!-- If a device has already been connected, push the disconect button to the bottom, and show the home page for a catch --}}

{{!-- unless statements taken from class example --}}
<div class="header">
{{#unless tiConnected}}
	<button type="button" class="btn-info" {{action 'refreshDeviceList'}}>List Devices</button>
	<ul id="deviceList" class="list-group">
        {{#each nearbyDevices as |device|}}
            <li class="list-group-item">
                <b>{{device.name}}</b>&nbsp;|&nbsp;{{device.id}}
                <button type="button" class="btn" {{action "connect" device.id}}>Connect</button>
            </li>
        {{/each}}
    </ul>
{{else}}
    {{!-- <button type="button" class="btn-warn" {{action 'check'}}>Device Status</button> --}}
    {{#if testing}}
        <ul id="detailPage" class="list-group">
            <div id="barometerData">...</div>
        </ul>
        <h3>Barometric Pressure</h3>
        {{time-series-chart lineData=baroHistory}}

        <h3>Temperature</h3>
        {{time-series-chart lineData=tempHistory}}
    {{/if}}

	<button type="button" class="btn-info" {{action 'disconnect'}}>Disconnect</button>
{{/unless}}
</div>
{{yield}}

